body {
    background: rgb(244, 245, 247);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 1px color: whitesmoke;
    border-radius: 50%;
    width: 10%;
    height: 15%
}

#title, .subtitle, .post_title {
    color: rgb(7, 7, 7)
}

#tittle {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color:black
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin:0
    margin-bottom: 15px
}

.post {
  background: rgb(204, 206, 211);
  padding: 15px;
  border: 3px solid black;
  margin-bottom:rgb(164, 185, 231) 15px;
  border-radius: 5px;
  }

.post_content {
    margin: 0
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: left;
}

.post_image{
    margin_bottom: 15px;
    width: 100%
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}